* {
  margin: 0;
  padding: 0;
} 


.dashboard {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.signin {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
}

.filter-card {
  border-radius: 20px; 
  padding: 20px;
}

.search-button-container {
  margin-top: 20px;
}

.search-button {
  border-radius: 50px;
}
